.contenedor-buscar form {
    width: 100%;
}
.contenedor-tabla{
    margin: 10px;
    overflow-x: auto;
}
.tabla-pedido{
    height: 20rem;
}
h2{
    font-family: 'fuente-1';
}

.btn-volver{
    background: transparent;
    border: none;
}
/* movimiento */
.ingreso{
    background-color: #14A44D !important;
    color: white !important;
    text-align: center; 
}
.egreso{
    background-color: #DC4C64 !important;
    color: white !important;
    text-align: center;
}

/* Estilos para pantallas pequeñas (hasta 767px) */
@media screen and (max-width: 767px) {
    .contenedor-buscar{
        margin: 1.5rem 0.4rem;
    }
}

/* Estilos para pantallas medianas (768px a 991px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .contenedor-buscar{
        margin: 1.5rem 1rem;
    }
}

/* Estilos para pantallas grandes (992px en adelante) */
@media screen and (min-width: 992px) {
    .contenedor-buscar{
        margin: 1.5rem;
    }
}