.contenedor-buscar form {
    width: 100%;
}
.contenedor-tabla{
    margin: 10px;
    overflow-x: auto;
}
.tabla-pedido{
    height: 20rem;
}
h2{
    font-family: 'fuente-1';
}
.cont-img{
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    width: 50%;
    height: 12rem;
    overflow: hidden;
    position: relative;
}
.cont-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn-img-eliminar{
    background-color: #000;
    color: white;
    border: none;
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-volver{
    background: transparent;
    border: none;
}
/* movimiento */
.ingreso{
    background-color: #14A44D !important;
    color: white !important;
    text-align: center; 
}
.egreso{
    background-color: #DC4C64 !important;
    color: white !important;
    text-align: center;
}

/* Estilos para pantallas pequeñas (hasta 767px) */
@media screen and (max-width: 767px) {
    .contenedor-buscar{
        margin: 1.5rem 0.4rem;
    }
}

/* Estilos para pantallas medianas (768px a 991px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .contenedor-buscar{
        margin: 1.5rem 1rem;
    }
}

/* Estilos para pantallas grandes (992px en adelante) */
@media screen and (min-width: 992px) {
    .contenedor-buscar{
        margin: 1.5rem;
    }
}