@font-face {
    font-family: 'fuente-1';
    src: url('./fonts/DOMCO.otf') format('opentype');
}
@font-face {
    font-family: 'fuente-2';
    src: url('./fonts/DOMCO-2.ttf') format('truetype');
}
@font-face {
    font-family: 'fuente-3';
    src: url('./fonts/DOMCO-03.otf') format('opentype');
}
@font-face {
    font-family: 'fuente-4';
    src: url('./fonts/Dooodleistabold.ttf') format('truetype');
}


h1{
    font-family: 'fuente-1';
}
a,p,span{
    font-family: 'fuente-4';
    font-size: 1.7rem;
}
.contenedor-tabla{
    height: 35rem;
    overflow: auto;
}



/* Pantallas pequeñas (celulares) */
@media screen and (max-width: 576px) {
    a,p,span{
        font-family: 'fuente-4';
        font-size: 1.2rem;
    }
    h1{
        font-size: 1.5rem !important;
    }
}

/* Pantallas medianas (tabletas) */
@media screen and (min-width: 577px) and (max-width: 992px) {
    h1{
        font-size: 1.5rem !important;
    }
    a,p,span{
        font-family: 'fuente-4';
        font-size: 1.5rem;
    }
}
